.gallery {
  position: relative;
  padding: 38px 0 0;

  @media (min-width: $tablet-width) {
    padding: 60px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 123px 0 0;
  }
}

.gallery__description {
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
  }
}

.gallery__title {
  font-size: 1.38rem;
  line-height: 1em;
  font-weight: 800;
  margin: 0 0 1.56rem;
  text-align: left;
  letter-spacing: 0.2px;

  @media (min-width: $tablet-width) {
    margin: 0 0 1.9rem;
    font-size: 1.56rem;
    letter-spacing: 0.3px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 1.55rem;
    font-size: 2.19rem;
  }
}

.gallery__title::after {
  content: "Фотогалерея";
  position: absolute;
  bottom: 11px;
  left: 35px;
  font-size: 1.63rem;
  line-height: 1em;
  font-weight: 800;
  letter-spacing: 0.3px;
  opacity: 0.03;

  @media (min-width: $tablet-width) {
    bottom: 0px;
    left: calc(50% - 167px);
    font-size: 2.5rem;
  }

  @media (min-width: $desktop-width) {
    bottom: 8px;
    left: calc(50% - 231px);
    font-size: 3.5rem;
    letter-spacing: 0;
  }
}

.gallery__text {
  margin: 0 0 31px;
  font-size: 12px;
  line-height: 1.5em;

  @media (min-width: $tablet-width) {
    max-width: 420px;
    margin: 0 0 21px;
    font-size: 0.88rem;
    line-height: 1.57em;
    letter-spacing: -0.05px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 45px;
    max-width: 600px;
    font-size: 1rem;
    line-height: 1.5em;
    letter-spacing: 0;
  }
}

.gallery__text br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.gallery__slider {
  max-width: 320px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
  }
}

.gallery__slider-list {
  height: 266px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  row-gap: 7px;
  align-items: center;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    height: 418px;
  }

  @media (min-width: $desktop-width) {
    height: 463px;
    display: grid;
    grid-template-columns: minmax(284px, 463px) minmax(284px, 319px) minmax(284px, 463px) minmax(284px, 319px) minmax(284px, 463px);
    column-gap: 5px;
    justify-content: center;
    align-items: center
  }
}

.gallery__slider-img-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.gallery__slider-img-wrapper--2 img {
  min-height: 134.5px;

  @media (min-width: $tablet-width) {
    min-height: 209px;
  }
}

.gallery__slider-item picture {
  display: flex;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;

  @media (min-width: $tablet-width) {
  }
}

.gallery__slider-img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;

  @media (min-width: $tablet-width) {
  }
}

.gallery__slider .gallery__slider-button {
  display: none;
  top: 168px;
  width: 37px;
  height: 35px;
  background-color: $color-additional-1000;
  border: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.gallery__slider-button-prev {
  left: calc(50% + 261px);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 35px;
    background: url("/__spritemap#sprite-arrow-right-view") no-repeat center;
    transform: rotate(180deg);
    background-size: 14px 9px;
  }
}

.gallery__slider-button-next {
  left: calc(50% + 302px);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 35px;
    background: url("/__spritemap#sprite-arrow-right-view") no-repeat center;
    background-size: 14px 9px;
  }
}

.gallery__slider-button-next.swiper-button-disabled,
.gallery__slider-button-prev.swiper-button-disabled {
  background-color: $color-disabled;
  opacity: 1;
}
