.header {
  min-width: $mobile-width;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.65em;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0.94em;
  background-color: $color-additional-1000;
  z-index: 10;

  @media (min-width: $tablet-width) {
    padding: 1.25em 2.81em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.85em;
  }

  @media (min-width: $desktop-width) {
    padding: 2em 7.5em;
    align-items: center;
  }
}

.header__nav {
  grid-row: 1/4;

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.header__burger-btn {
  position: relative;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
  border: none;
  background-color: transparent;
  z-index: 11;

  @media (min-width: $tablet-width) {
    margin-top: 9px;
  }

  @media (min-width: $desktop-width) {
    display: none;
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 16.5px;
    height: 2px;
    background-color: $color-white-1000;
    transition: transform 0.4s linear, width 0.4s linear, opacity 0.4s linear;
  }
}

.header__burger-btn-span {
  transition: transform 0.4s linear, width 0.4s linear;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 26px;
    height: 2px;
    background-color: $color-white-1000;
    transition: transform 0.4s linear, width 0.4s linear;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 26px;
    height: 2px;
    background-color: $color-white-1000;
    transition: transform 0.4s linear, width 0.4s linear;
  }
}

.header__nav:has([class*="header__nav-list--open"]) .header__burger-btn {
  &::before {
    transform: translate(7px, 0);
    opacity: 0;
  }
}

.header__nav:has([class*="header__nav-list--open"]) .header__burger-btn-span {
  &::before {
    transform: rotate(135deg) translate(7px, -5px);
    width: 30px;
    transition: transform $trans-default, width $trans-default;
  }

  &::after {
    transform: rotate(-135deg) translate(7px, 4px);
    width: 30px;
    transition: transform $trans-default, width $trans-default;
  }
}

.header__nav-list {
  position: absolute;
  top: 112px;
  left: 0px;
  width: 100%;
  margin: 0;
  padding: 0 0.94em 3.13em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0;
  visibility: hidden;
  background-color: #0266c1;
  list-style-type: none;
  line-height: 0;
  opacity: 0;
  transition: line-height 0.4s ease-out, gap 0.4s ease-out,
    opacity 0.4s ease-out, visibility 0.4s ease-out;

    &::after {
    content: "";
    position: fixed;
    top: 368px;
    left: 0;
    width: 100vw;
    height: 77.2vh;
    background: rgba(45, 56, 63, 0);
    z-index: -10;
    transition: background 0.2s ease-in;
    transition-delay: 0.4s;
  }

  @media (min-width: $tablet-width) {
    padding: 0 2.81em 4.38em;
    top: 85px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    height: auto;
    padding: 0;
    display: flex;
    visibility: visible;
    line-height: 1em;
    flex-direction: row;
    gap: 1.88em;
    opacity: 1;
  }
}

.header__nav-list--open {
  visibility: visible;
  line-height: 1em;
  gap: 1.38em;
  z-index: 10;
  opacity: 1;
  transition: line-height 0.4s ease-in, gap 0.4s ease-in, opacity 0.4s ease-in,
    visibility 0.4s ease-in;

  &::after {
    background: rgba(45, 56, 63, 0.6);
  }
}

.header__nav-link {
  color: $color-white-1000;
  font-family: $ff-default;
  text-decoration: none;
  font-size: 0.88rem;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  z-index: 10;

  @media (min-width: $tablet-width) {
    font-size: 1rem;
  }
}

.header__logo {
  justify-self: end;

  @media (min-width: $desktop-width) {
    font-size: 1rem;
    order: 1;
  }
}

.header__logo-img {
  fill: $color-white-1000;

  @media (min-width: $desktop-width) {
    width: 205px;
    height: 62px;
  }
}

.header__phone {
  color: $color-white-1000;
  font-family: $ff-default;
  font-size: 0.88em;
  font-weight: 600;
  text-decoration: none;
  text-align: right;
  grid-column: 2/3;

  @media (min-width: $tablet-width) {
    margin-top: 14px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    font-size: 1.13em;
    order: 3;
  }
}
