.reviews {
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  padding: 36px 15px 20px;

  @media (min-width: $tablet-width) {
    max-width: 1230px;
    padding: 60px 0 40px 45px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1680px;
    padding: 145px 0 76px 120px;
  }
}

.reviews__title {
  position: relative;
  margin: 0 0 2rem;
  font-size: 1.38rem;
  line-height: 1em;
  font-weight: 800;
  letter-spacing: 0.3px;

  @media (min-width: $tablet-width) {
    margin: 0 0 37px;
    font-size: 1.57rem;
    letter-spacing: 0.3px;
  }

  @media (min-width: $desktop-width) {
    font-size: 2.22rem;
    margin: 0 0 28px;
  }
}

.reviews__title::after {
  content: "Отзывы";
  position: absolute;
  bottom: 11px;
  left: 0;
  font-size: 1.63rem;
  line-height: 1em;
  font-weight: 800;
  opacity: 0.03;

  @media (min-width: $tablet-width) {
    bottom: -1px;
    left: 0;
    font-size: 2.54rem;
  }

  @media (min-width: $desktop-width) {
    bottom: 19px;
    left: 0px;
    font-size: 3.45rem;
    letter-spacing: 0.9px;
  }
}

.reviews__slider {
  overflow: hidden;

  @media (min-width: $desktop-width) {
    padding: 10px;
  }
}

.reviews__slider-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.reviews__slider-item {
  display: flex;
  width: 290px;

  @media (min-width: $tablet-width) {
    width: 565px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.reviews__card {
  width: 290px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-white-1000;
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);

  @media (min-width: $tablet-width) {
    width: 565px;
    padding: 18px 30px 20px 20px;
    gap: 30px;
    flex-direction: row;
    flex-shrink: 0;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    padding: 20px 40px 16px 20px;
    align-items: flex-start;
  }
}

.reviews__card-picture {
  flex-shrink: 0;
}

.reviews__card-img {
  margin: 0 0 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.previews__card-description {
  display: block;

  @media (min-width: $desktop-width) {
    transform: translateY(-1px);
  }
}

.reviews__slider-button {
  display: none;
  top: 82px;
  width: 37px;
  height: 35px;
  background-color: $color-additional-1000;
  border: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    top: 167px;
  }
}

.reviews__slider-button-prev {
  left: calc(100% - 123px);

  @media (min-width: $desktop-width) {
    left: calc(100% - 198px);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 35px;
    background: url("/__spritemap#sprite-arrow-right-view") no-repeat center;
    transform: rotate(180deg);
    background-size: 14px 9px;
  }
}

.reviews__slider-button-next {
  left: calc(100% - 82px);

  @media (min-width: $desktop-width) {
    left: calc(100% - 157px);
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 35px;
    background: url("/__spritemap#sprite-arrow-right-view") no-repeat center;
    background-size: 14px 9px;
  }
}

.reviews__slider-button-next.swiper-button-disabled,
.reviews__slider-button-prev.swiper-button-disabled {
  background-color: $color-disabled;
  opacity: 1;
}

.reviews__card p {
  margin: 0 0 10px;
  font-size: 0.75rem;
  line-height: 1.5em;

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 1.57em;
  }
}

.reviews__card p:last-of-type {
  margin: 0 0 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 3px;
  }
}

.reviews__card-author {
  margin: 0 0 4px;
  font-size: 0.75rem;
  line-height: 1em;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 0.81rem;
    margin-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 4px;
  }
}

.reviews__card-author-description {
  margin: 0;
  font-size: 0.75rem;
  line-height: 1em;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
