.tours {
  position: relative;
  padding: 36px 15px 20px;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 60px 45px 40px;
    max-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    padding: 119px 120px 100px;
    max-width: $desktop-width;
  }
}

.tours__title {
  align-self: flex-start;
  position: relative;
  width: 100%;
  margin: 0 0 39px;
  font-size: 1.38rem;
  line-height: 1em;
  font-weight: 800;
  letter-spacing: 0.3px;

  @media (min-width: $tablet-width) {
    font-size: 1.56rem;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 53px;
    font-size: 2.19rem;
  }
}

.tours__title::after {
  content: "Ближайшие туры";
  position: absolute;
  bottom: 11px;
  left: 0;
  font-size: 1.63rem;
  line-height: 1em;
  font-weight: 800;
  opacity: 0.03;

  @media (min-width: $tablet-width) {
    bottom: -3px;
    left: 0;
    font-size: 3.44rem;
  }

  @media (min-width: $desktop-width) {
    bottom: -3px;
    left: 0;
    font-size: 3.44rem;
  }
}

.tours__slider {
  width: 290px;
  margin: 0 auto 1.56em;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.tours__slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tours__slider-button {
  display: none;
  top: 60px;
  width: 37px;
  height: 35px;
  background-color: $color-additional-1000;
  border: none;

    @media (min-width: $tablet-width) {
    display: block;
  }
}

.tours__slider-button-prev {
  left: calc(100% - 123px);

  @media (min-width: $desktop-width) {
    left: calc(100% - 198px);
    top: 141px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 35px;
    background: url("/__spritemap#sprite-arrow-right-view") no-repeat center;
    transform: rotate(180deg);
    background-size: 14px 9px;
  }
}

.tours__slider-button-next {
  left: calc(100% - 82px);

  @media (min-width: $desktop-width) {
    left: calc(100% - 157px);
    top: 141px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 37px;
    height: 35px;
    background: url("/__spritemap#sprite-arrow-right-view") no-repeat center;
    background-size: 14px 9px;
  }
}

.tours__slider-button-next.swiper-button-disabled,
.tours__slider-button-prev.swiper-button-disabled {
  background-color: $color-disabled;
  opacity: 1;
}

.tours__show-btn {
  display: inline-flex;
  gap: 0.82em;
  padding: 0.71em;
  margin: 0 auto;
  font-size: 0.88rem;
  line-height: 1em;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  cursor: pointer;
  transform: translateX(1px);
}
